


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* display: grid;
    grid-template-rows: max-content 200px 1fr; */
    width: 400px;
    margin: 25px;
}
.card p{
    font-size:1.2rem;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    object-fit: contain;
}
@media only screen and (max-width: 900px) {
    .cards{
      margin: 0 10px 0 10px;
    }
  }

